<button type="button" class="btn btn-default"  routerLink="/add-book" id="add">+ เพิ่มรายการหนังสือ</button>
<div class="container mt-3">
    <div
        class="">
    </div>
</div><br>

<div class="table-responsive">
    <table class="table table-border">
        <thead>
            <tr>
                <th scope="col">ลำดับที่</th>
                <th scope="col">ID</th>
                <th scope="col">ชื่อหนังสือ</th>
                <th scope="col">ประเภทหนังสือ</th>
                <th scope="col">ชื่อผู้เขียน</th>
                <th scope="col">สำนักพิมพ์</th>
                <th scope="col">จำนวน</th>
                <th scope="col">ราคา</th>
                <th scope="col">แก้ไข</th>
                <th scope="col">ลบ</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of Books; let i = index">
                <th scope="row">{{i+1}}</th>
                <td class="id">
                    <a routerLink="/detail/{{book._id}}">
                        {{book._id}}
                    </a>
                </td>
                <td class="name">{{book.book_name}}</td>
                <td class="type">{{book.book_type}}</td>
                <td class="writer">{{book.book_writer}}</td>
                <td class="publisher">{{book.book_publisher}}</td>
                <td class="item">{{book.book_item}}</td>
                <td class="price">{{book.book_price}}</td>
                <td class="edit">
                    <mat-icon routerLink="/edit-book/{{book._id}}">edit</mat-icon>
                </td>
                <td class="delete">
                    <mat-icon (click)="delete(book._id,i)">cancel</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
      
</div>
