@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';

.navbar {
    background-color: #6A43A9;
}

body {
    font-family: 'Kanit', Monospace;
    padding: 0%;
    margin: 0%;
}

button {
    color: #6A43A9;
    position: relative;
}