<html lang="en">
    <ng-template class="header">
        <h1>หนังสือยอดนิยม</h1>
    </ng-template>
    <ng-template let-product pTemplate="item">
        <div class="book-item">
            <div class="book-item-content">
                <div class="p-mb-3">
                    <!-- <img src="{{product.image}}" [alt]="product.name" class="product-image" routerLink="/detail/{{product.id}}" /> -->
                </div>
                <div>
                    <h3 class="p-mb-1" routerLink="/detail/{{product.id}}">{{product.name}}</h3>
                    <div class="car-buttons p-mt-5">
                        <p-button id="info" label="Detail" icon="pi pi-search" styleClass="p-button-rounded" routerLink="/detail/{{product.id}}"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
