<div class="head">
    <span><u>หนังสือยอดนิยม</u></span>
</div>

<div class="top-books">
  <a *ngFor="let book of TopBook" routerLink="/detail/{{book._id}}">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="{{book.book_image}}"><br>
        </div>
        <div class="flip-card-back">
          <br><i><u>{{book.book_name}}</u></i><br><hr>
          <p>ผู้แต่ง : {{book.book_writer}}</p>
          <p>ประเภท : {{book.book_type}}</p>
          <p>สำนักพิมพ์ : {{book.book_publisher}}</p>
          <p>ราคา : {{book.book_price}} ฿</p><br><br><br>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="search">
  <span><u>ค้นหาหนังสือ</u></span><br>
  <app-preview-book></app-preview-book>
</div>

<div class="books-menu">
    <a *ngFor="let book of Books" routerLink="/detail/{{book._id}}">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{{book.book_image}}"><br>
          </div>
          <div class="flip-card-back">
            <br><i><u>{{book.book_name}}</u></i><br><hr>
            <p>ผู้แต่ง : {{book.book_writer}}</p>
            <p>ประเภท : {{book.book_type}}</p>
            <p>สำนักพิมพ์ : {{book.book_publisher}}</p>
            <p>ราคา : {{book.book_price}} ฿</p><br><br><br>
          </div>
        </div>
      </div>
    </a>
  </div>
<br><br><br>