h2 {
    margin: 0 auto;
    display: block;
}

.head, .search {
    text-align: center;
    font-size: 25px;
    padding-top: 3%;
}

.search {
    padding-bottom: 5%;
}

mat-icon {
    font-size: 45px;
    color: #714CAE;
}

.books-menu a {
    display: inline-block;
    text-align: center;
    padding-left: 3.8%;
}

.num1 {
    text-align: center;
}

p {
    padding: 10px;
    text-align: left;
    font-size: 18px;
    color: #ffffff;
}

img {
    width: 200px;
    height: 270px;
    position: start;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 270px;
    perspective: 1000px;
  }
  
.flip-card-inner {
    position: relative;
    width: 200px;
    height: 270px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 200px;
    height: 270px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #82afb6;
    color: black;
}
  
.flip-card-back {
    background-color: #5ba1ad;
    color: white;
    transform: rotateY(180deg);
}
