<button type="button" class="btn btn-default">รายการหนังสือใหม่</button>
<button type="button" class="btn btn-default" id="back">ย้อนกลับ</button>

<!-- <div class="preview">
  <app-preview-book></app-preview-book>
</div> -->

<form class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-2 control-label">ชื่อหนังสือ</label>
    <div class="col-sm-7">
      <input class="form-control" id="focusedInput" type="text" [(ngModel)]="book.book_name" placeholder="ระบุชื่อหนังสือ">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">รูปหนังสือ</label>
    <div class="col-sm-7">
      <input class="form-control" id="focusedInput" type="text" [(ngModel)]="book.book_image" placeholder="URL สำหรับรูปปกหนังสือ">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">ประเภทหนังสือ</label>
    <div class="col-sm-7">
      <select name="type"  class="form-control col-sm-4" [(ngModel)]="book.book_type" #selects="ngModel" required>
        <!-- <option *ngFor="let item of sel" [value]="item.value" [disabled]="item.type=='Select'">{{item.type}}</option> -->
      </select>
      <div *ngIf="selects.invalid"> select your type</div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">ชื่อผู้เขียน</label>
    <div class="col-sm-7">
      <input class="form-control" id="focusedInput" type="text" [(ngModel)]="book.book_writer" placeholder="ระบุชื่อผู้เขียนหนังสือ">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">สำนักพิมพ์</label>
    <div class="col-sm-7">
      <select class="form-control" id="sel1">
        <option>--เลือกสำนักพิมพ์--</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">จำนวน</label>
    <div class="col-sm-5">
      <input class="form-control" id="focusedInput" type="text" [(ngModel)]="book.book_item" placeholder="ระบุจำนวนหนังสือ">
      <p>เล่ม</p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">ราคา</label>
    <div class="col-sm-5">
      <input class="form-control" id="focusedInput" type="text" [(ngModel)]="book.book_price" placeholder="ระบุราคาหนังสือ">
      <p>บาท</p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">เรื่องย่อ</label>
    <div class="col-sm-7">
      <textarea class="form-control" rows="5" id="focusedInput" type="text" [(ngModel)]="book.book_detail" placeholder="ระบุเรื่องย่อ หรือรายละเอียดของหนังสือ"></textarea>
    </div>
  </div>
  
</form>

<button type="button" class="btn btn-default" id="save">บันทึกการเพิ่มหนังสือ</button>

<br><br><br>