form {
    margin-top: 20px;
}

.form-group {
    display: inline;
}

.form-control {
    width: 70%;
    border-color: #714CAE;
    border-width: 1px;
    border-radius: 10px;
}

.form-horizontal {
    padding-left: 0%;
}

.col-sm-5 {
    display: inline;
}