<!-- <div class="book">
    <div class="container">
        <div class="book-header">
            <h4>รายละเอียด</h4>
        </div>
    <div class='row'>
        <div class="'col-md-8">
            <div class='row'>
                <div class='col-md-4'>&emsp;ชื่อหนังสือ</div>
                <div class='col-md-8'>{{book_name}}</div>
            </div> 
            <div class='row'>
                <div class='col-md-4'>&emsp;ประเภทหนังสือ</div>
                <div class='col-md-8'>{{book_type}}</div>
            </div> 
            <div class='row'>
                <div class='col-md-4'>&emsp;ชื่อผู้เขียน</div>
                <div class='col-md-8'>{{book_writer}}</div>
            </div> 
            <div class='row'>
                <div class='col-md-4'>&emsp;สำนักพิมพ์</div>
                <div class='col-md-8'>{{book_publisher}}</div>
            </div>
            <div class='row'>
                <div class='col-md-4'>&emsp;จำนวน</div>
                <div class='col-md-8'>{{book_item}}</div>
            </div> 
            <div class='row'>
                <div class='col-md-4'>&emsp;ราคา</div>
                <div class='col-md-8'>{{book_price}}</div>
            </div> 
            <div class='row'>
                <div class='col-md-4'>&emsp;เรื่องย่อ</div>
                <div class='col-md-8'>{{book_detail}}</div>
            </div> 
        </div>
    </div>
    </div>
</div>
<app-detail></app-detail> -->
