/* .col-md-4 {
    line-height: 35px;
    font-size: 15px;
}
.col-md-8 {
    line-height: 35px;
}
p {
    font-size: 25px;
} */

form {
    margin-top: 20px;
}

.form-group {
    display: inline;
}

.form-control {
    width: 70%;
    border-color: #5b3796;
    border-width: 1px;
    border-radius: 10px;
}

.form-horizontal {
    padding-left: 0%;
}

.col-sm-5 {
    display: flex; 
}

p {
    margin-top: 7px;
    margin-left: 4%;
}

button {
    margin-right: 20px;
}

#topic {
    border-color: #5b3796;
    border-width: 1.5px;
}

#back {
    color: #797979;
}